<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600;1,700&family=Playfair+Display:wght@400;700&display=swap"
        rel="stylesheet">
    <style>
        body {
            background-color: rgb(255, 255, 255);
        }

        .img {
            max-width: 50%;
            display: flex;
            justify-content: center;
            position: fixed;
            background: url('bghome.png');
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: 300px;
        }

        .img h2 {
            margin-top: 200px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>

    <nav class="navbar navbar-expand navbar-dark bg-gradient"
        style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;background-color: rgb(16, 10, 43);">
        <a class="navbar-brand" href="/">
            <h3><i class="fa fa-book"></i> LMS</h3>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link " href="/books" style="font-size: 20px;">Books</a>
                </li>
                <li class="nav-item active" style="font-size: 20px;">
                    <a class="nav-link" href="/members">Members</a>
                </li>
                <li class="nav-item active" style="font-size: 20px;">
                    <a class="nav-link" href="/transactions">Transactions</a>
                </li>
                <li class="nav-item active" style="font-size: 20px;">
                    <a class="nav-link" href="/reports">Reports</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="img">
        <img src="/static/bghome.png" alt="sorry">
        <div style="width: 600px;">
            <h2
                style="color: rgb(8, 5, 78); width: 450px; font-size:80px; padding-left: 20px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                <b>Library Management System</h2>
            <hr>
            <p class="lead mb-3 ">
                <center style="font-size: 16px;width: 400px;margin-left: 10px;">
                    MAKING THE MANAGEMENT OF BOOKS, MEMBERS,AND TRANSACTIONS MORE EFFICIENT AND ENJOYABLE.</center>
            </p>
            <hr>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>