{% extends 'layout.html'%}
{% block body %}
<br>
<div class="d-sm-flex justify-content-lg-between">
    <h2><b>{{ member.name }}'s Details</b></h2>
    <a href="/transactions" class="btn btn-dark mb-3">Back</a>
</div>
<hr>
<br>
<table class="table table-bordered">
    <tr>
        <td><b>Member ID:</b></td>
        <td>{{member.id}}</td>
    </tr>
    <tr>
        <td><b>Member Name:</b></td>
        <td>{{member.name}}</td>
    </tr>
    <tr>
        <td><b>Member EmailID:</b></td>
        <td>{{member.email}}</td>
    </tr>
    <tr>
        <td><b>Registered On:</b></td>
        <td>{{member.registered_on}}</td>
    </tr>
    <tr>
        <td><b>Member's Outstanding Debt:</b></td>
        <td>{{member.outstanding_debt}}</td>
    </tr>
    <tr>
        <td><b>Amount Spent:</b></td>
        <td>{{member.amount_spent}}</td>
    </tr>
    <tr>
        <td><b>Issued Books:</b></td>
        <td>{{member.issued_books}}</td>
    </tr>
</table>
{% endblock %}